<table boder = "3" id="bingo_card" align="center">
	<thead>
		<tr class="bingo_char">
			<th class="text-center">B</th>
			<th class="text-center">I</th>
			<th class="text-center">N</th>
			<th class="text-center">G</th>
			<th class="text-center">O</th>
		</tr>
	</thead>
	<%i=0%>
	<% numbers.each do |num|%>
	<% if i == 0 || i == 5 || i == 10 || i == 15  || i == 20 then %>
	<tr>
		<%end%>
		<% if num > 0 %>
		<td data-number=<%= num %> class="bingo_number text-center" onclick="number_click(this, <%= i %>)"><%= num %></td>
		<% else %>
		<td class="bingo_number free text-center" data-number=-1 onclick="number_click(this, <%= i %>)">FREE</td>
		<% end %>
		<%i += 1%>
		<% if i == 5 || i == 10 || i == 15  || i == 20 || i == 25then %>
	</tr>
	<%end%>
	<%end%>
</table>
<div id="bingo_button" style="display: none;"><button onclick="bingo()" class="btn btn-danger btn-lg center-block">BINGO</button></div>