<% if !items.blank? %>
<h3>スコアボーナス！</h3>
<span>手に入れたアイテム一覧</span>
<table class="table">
	<thead>
		<tr>
			<th>アイテム名</th>
			<th>ゲーム中使用可否</th>
		</tr>
	</thead>
	<tbody>

		<% for item in items %>
		<tr>
			<td><%= item.name %></td>
			<td>
				<% if item.AllowUseDuringGame == true || item.AllowUseDuringGame == 't' %>
				可
				<% else %>
				不可
				<% end %>
			</td>
		</tr>
		<% end %>

	</tbody>
</table>
<% end %>