<%= javascript_include_tag "clipboard.min.js" %>
<script>
	$(function () {
		var clipboard = new Clipboard('.btn');
	});
</script>
<% if bonus > 0 %>
<h2>友達を招待してアイテムをGET！</h2>
<p>招待成立で　１人につき<%= bonus %>個のアイテムをプレゼント</p>
<% else %>
<h2>ビンゴゲームに友達を招待しよう！</h2>
<% end %>
<p>twitterやラインに招待URLを貼り付けよう！</p>
<p>あなた専用の招待URLはこちら</p>
<!-- コピー対象 -->
<div><%= invite_url %></div>
<br>
<!-- コピーボタン -->
<button class="btn btn-default" data-clipboard-text=<%= invite_url %>>
	招待URLをコピー
</button>