<%= javascript_include_tag "remodal.min.js" %>
<div>
	<table class="table">
		<thead>
			<tr>
				<th>アイテム</th>
				<th>個数</th>
				<th>ゲーム中使用可否</th>
			</tr>
		</thead>
		<tbody>
			<% if !items.blank? %>
			<% for item in items %>
			<tr id="item-rows">
				<%= render :partial => "item-row", :locals => { room_isPlaying: room.isPlaying, item: item } %>
			</tr>
			<% end %>
			<% end %>
		</tbody>
	</table>
</div>