<h1>結果発表</h1>
<div id="ranking" style="display: none;">
	<p>おめでとう！<span id="rank-number"></span>位！</p>
</div>
<div id="bingo-result-detail">
	<div>BINGO <span id="number-of-bingo"></span>ライン</div>
	<div>リーチ　<span id="number-of-one-left-line">ライン</span></div>
	<div>穴 <span id="number-of-hole"></span>個</div>
</div>
<div id="get-items-after-game">
</div>