<h1>結果発表</h1>
<div id="ranking" style="display: none;">
	<p>おめでとう！<span id="rank_number"></span>位！</p>
</div>
<div id="bingo_result_detail">
	<div>BINGO <span id="number_of_bingo"></span>ライン</div>
	<div>リーチ　<span id="number_of_one_left_line">ライン</span></div>
	<div>穴 <span id="number_of_hole"></span>個</div>
</div>
