<br>
<label onclick="auto_check()">
	<input type="checkbox" name="auto_check" id="auto_check">
	自動チェックON(ベータ版)
</label>
<div>
自動チェックに関する注意： <br>
ベータ版のため予期せぬバグが発生する可能性があります。 <br>
また、機能のON、OFFはビンゴ時に主催者に通知されます。主催者によっては、同順位の人が複数いた場合、自動ユーザーを下位にする可能性があります。
</div>