<div class="center70">
	<h1>BingoLive!</h1>
	<p>忘年会、新年会に！準備のいらない機能豊富なWEBビンゴ！</p>

	<% if user_signed_in? %>
	<%= link_to "ビンゴを開催する", rooms_direct_new_path, class: "btn btn-info btn-lg" %>
	<% else %>
	<%= link_to "ビンゴを開催する", new_user_registrations_from_top_path(Users::RegistrationsController::FROM_TOP_PAGE), class: "btn btn-info btn-lg" %>
	<%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	<% end %>
<!-- 	<br>
	<h3>ビンゴ大会スケジュール</h3>
	<table class="table">
		<thead>
			<tr>
				<th>コミュニティ名</th>
				<th>日付</th>
				<th>目玉賞品</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
			</tr>
		</tbody>
	</table> -->
</div>