<h1><%= current_user.name %>さんのマイページ</h1>


<% if !@joined_communities.blank? %>
<h2>参加中のコミュニティ一覧</h2>
<% @joined_communities.each do |community| %>
<div class="joined_communities" >
	<p><%= link_to community.name, community_path(community.id),class:"community_name" %></p>
</div>
<% end %>
<% end %>


<% if !@own_communities.blank? %>
<h2>あなたのコミュニティ一覧</h2>
<% @own_communities.each do |community| %>
<div class="own_communities" >
	<p><%= link_to community.name, community_path(community.id),class:"community_name" %></p>
</div>
<% end %>
<% end %>

<p>
	<%= link_to 'コミュニティ一覧ページ', communities_path %>
</p>
