<% if isWindow %>
<%= stylesheet_link_tag "application", :media => "all" %>
<% end %>

<h3><span onclick="hide_bingo_users()">ビンゴしたユーザー一覧</span><button type="button" class="btn btn-primary btn-xs" onclick="check_bingo_users()">更新</button></h3>
<div id="bingo-user-list"></div>