<%= stylesheet_link_tag "application", :media => "all" %>
<h2>ビンゴしたユーザー一覧<button type="button" class="btn btn-primary btn-xs" onclick="check_bingo_users()">更新</button></h2>
<div>
	<div id="bingo-user-list"></div>
</div>