<% if isRoomOrganizer %>
<br>
<div class="white-box">
<%= render :partial => "qr-code", :locals => { room:room, svg: svg, url: url, isWindow: false} %>
	<%= link_to '別ウィンドウでQRコードを開く',tool_qr_code_path(community.id, room.id),
	:onclick=>"window.open(this.href,'QRコード', 'height=250, width=400');return false;" %>
</div>
<% else %>

<% end %>

