<% if isWindow %>
<%= stylesheet_link_tag "application", :media => "all" %>
<% end %>

<div id="qr-code" class="container-fluid" >
	<h3>招待用QRコード</h3>
	<div class="row" >
		<div class="col-lg-3 col-md-3">
			<%= raw svg %>
		</div>
		<div class="col-lg-9 col-md-9">
			<%= url %>
		</div>
	</div>
</div>