<h1>Rooms#show</h1>
<p>Find me in app/views/rooms/show.html.erb</p>
<p><% @room.name %></p>
<% if @isRoomOrganizer %>
	<p>管理者です</p>
<% end %>

<p>参加者一覧</p>
<% @members.each do |member| %>
<div>
	<p><%= member.name %></p>
</div>
<% end %>
<form>
</form>