<h1><% @room.name %></h1>
<% if @isRoomOrganizer %>
<p>管理者です</p>
<p>
	<div id="number_display"></div>
	<button onclick="random_number_add(<%= @room.id %>,<%= @community.id %>)">Click to random number adding.</button>
</p>

<% else %>
<%= link_to "このビンゴに参加する", community_room_bingo_cards_path(@community.id,@room.id) %>
<% end %>

<p>参加者一覧</p>
<% @members.each do |member| %>
<div>
	<p><%= member.name %></p>
</div>
<% end %>
<form>
</form>