/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
 	width:100%;
 	background-color: #FFEEFF;
 	color:#333333;
 }
 .center70{
 	width: 70%;
 	margin-right: auto;
 	margin-left : auto;
 }

 @media screen and (max-width:640px){

/* 	body{
 		width:100%;
 		background-color: #FFEEFF;
 		color:#333333;
 	}*/
/* 	#container{
 		width:100%;
 	}*/
 	.center70{
 		width: 90%;
 		margin-right: auto;
 		margin-left : auto;
 	}
 }

 .note{
 	color:#330;
 	font-size: 50%;
 }
 .white-box{
 	background-color: rgba(255, 255, 255, 0.8);
 	border-radius: 10px;
 	padding: 0px 10px 10px 10px;
 	box-shadow: 3px 3px #a9a9a9;
 }
 .navbar{
 	background-color: #FFD5EC;
 }
 .yellow-filter{
 	background-color: rgba(240, 230, 140, 0.5)
 }