// Place all the styles related to the BingoCards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.checked {
	color: #ff69b4;
}
.bingo_char{
	font-size: 40px;
}

table{
	table-layout: fixed;
}
td{
	width: 80px;
	height: 80px;
	padding: 0px;
	margin: 0px;
}
#card_area{
	width:400px;
}
#bingo_card{
	table-layout: fixed;
	width:400px;
	margin-right : auto;
	margin-left : auto;
	.bingo_number{
		background-color: rgba(204, 255, 255, 0.7);
		font-size: 30px;
	}

	.free{
		font-size: 20px;
	}

}
.num-range{
	font-size: 10px;
}

#numbers{
	// width: 30%;
	// float: left;
	#last_number{
		color: #ff3000;
		font-size: 40px;
	}
}

ul.foo {
	display:table;
	table-layout:fixed;
	width:100%;
	padding-bottom: 2px;
	padding-left: 0px;
}
ul.foo li {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	background-color:#FFAAFF;
	border-left:1px solid white;
	height: 35px;
}
ul.foo li:first-child {
	border:none;
}
ul.foo li a {
	display:block;
	text-decoration:none;
	color:dimgrey;
	font-size: 20px;
}