// Place all the styles related to the BingoCards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.checked {
	color: #ff69b4;
}
.bingo_char{
	font-size: 40px;
}
#bingo_card{
	width: 500px;
	height: 525px;
	float: left;
	.bingo_number{
		background-color: #ccdbff;
	}

}
#numbers{
	width: 30%;
	float: left;
	#last_number{
		color: #ff3000;
		font-size: 40px;
	}
}
.page_foot{
	clear: both;
}