<p>こんにちは <%= @resource.email %>さん!</p>

<p>パスワードリセットする場合は、下記のリンクをクリックしてください。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしもあなたにパスワードリセットの覚えがない場合、このメールは無視してください</p>
