<table>
	<thead>
		<tr>
			<th>参加者一覧</th>
			<th colspan="4"></th>
		</tr>
	</thead>
	<tbody>
		<% @members.each do |member| %>
		<tr>
			<% if member.user.id == @current_community.user_id %>
			<td class="master">・管理者 <%= member.user.name %></td>
			<% elsif current_user.id == member.user.id%>
			<td class="my_self"><%= member.user.name %></td>
			<% else %>
			<td><%= member.user.name %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>
<% if @isOrganizer %>
<p><%= link_to "このコミュニティでビンゴを開催する", new_community_room_path(@current_community.id) %></p> 
<% end %>